@use '../../Styles';

.formContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;

    .label {
        font-size: 0.875rem;
        font-weight: 400;
        opacity: 0.54;
        font-family: Styles.$poppins;
    }

    .errorText {
        font-size: 0.875rem;
        font-weight: 400;
        color: Styles.$errorText;
        margin-top: 0.5rem;
        font-family: Styles.$poppins;
    }

    .nameInput,
    .uploadInput {
        width: 34.625rem;
        height: 3.8125rem;
        border-radius: 0.625rem;
        margin-top: 0.5rem;
        box-sizing: border-box;
    }

    .nameInput {
        border: 1px solid #D4D3D6;
        outline: none;
        font-size: 1rem;
        padding-left: 1.5rem;
    }

    .uploadInput {
        border: 2px dashed #D4D3D6;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        .filePresent {

            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 93%;
            margin: 0 auto;

            div {
                display: flex;
                align-items: center;
            }

            .fileIcon {
                width: 2rem;
            }

            .fileData {
                margin-left: 1rem;
                display: flex;
                flex-direction: column;
                align-items: start;

                .fileName {
                    font-size: 0.875rem;
                    font-weight: 700;
                    margin-bottom: 0.4rem;
                }

                .fileSize {
                    color: #6A6A6A;
                    font-size: 0.625rem;
                    font-weight: 400;
                }
            }

            .deleteIcon {
                cursor: pointer;
            }
        }

        .fileAbsent {
            display: flex;
            align-items: center;
            padding-left: 1.5rem;

            .uploadIcon {
                width: 1.5rem;
                margin-right: 0.5rem;
            }

            .uploadText {
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;

                span {
                    color: Styles.$actionBlue;
                    font-size: 1rem;
                    font-weight: 400;
                    text-decoration-line: underline;
                    cursor: pointer;
                }
            }
        }


    }

    .invalidTypePopup {
        width: 34.625rem;
        height: 2.8125rem;
        border-radius: 0.625rem;
        border: 1px solid #D14343;
        background: #FDF4F4;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 1.5rem;
        }

        .errorText {
            color: Styles.$errorText;
            font-size: 0.875rem;
            font-weight: 400;
            margin-top: 0;
            margin-left: 0.3rem;

            span {
                font-weight: 500;
                text-decoration-line: underline;
            }
        }
    }

    ::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.25);
        font-size: 1rem;
        font-weight: 400;
    }

    ::placeholder {
        color: rgba(0, 0, 0, 0.25);
        font-size: 1rem;
        font-weight: 400;
    }

}


.databaseOption {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;

    .label {
        font-size: 0.875rem;
        font-weight: 400;
        opacity: 0.54;
        font-family: Styles.$poppins;
    }

    .nameInput {
        width: 34.625rem;
        height: 3.8125rem;
        border-radius: 0.625rem;
        margin-top: 0.5rem;
        border: 1px solid #D4D3D6;
        outline: none;
        font-size: 1rem;
        padding: 0 1.5rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        user-select: none;

        img{
            filter: brightness(0);
            transition: 0.2s;
        }
    }

    .dropdown{
        width: 34.625rem;
        max-height: 9.3rem;
        overflow-y: scroll;
        border-radius: 0.625rem;
        box-shadow: 1px 1px 10px Styles.$borderGray;
        transition: 0.2s;

        p{
            width: 100%;
            height: 2.9rem;
            padding: 0 1rem;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            border-bottom: 1px solid #80808020;
            cursor: pointer;

            &:hover{
                background: #80808020;
            }
        }
    }
}


.databaseOptionDivider{
    margin-top: 2.5rem;
    opacity: 20%;
}