@use '../../Styles';

.toolDetailsTemplate{

    background-color: Styles.$foregroundWhite;
    width: 95%;
    height: 75%;
    margin: 0 auto;
    
    .heading {
        margin: 2rem 0;
        font-size: 1.5rem;
        font-weight: 700;
        width: 100%;
        font-family: Styles.$outfit;
    }

    .d2gHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .heading{
            width: fit-content;
        }

        div{
            display: flex;
            align-items: center;
            cursor: pointer;

            p{
                margin-left: 0.4rem;
                text-decoration: underline;
                color: Styles.$actionBlue;
                font-weight: 700;
            }
        }
    }
}