.counterLoader {
    display: flex;
    gap: 8rem;

    .counters {
        flex: 1;
        height: 8rem;
        border-radius: 1rem;
        background-color: #eeeeee;
        overflow: hidden;
        position: relative;

        div {
            width: 20%;
            height: 100%;
            opacity: 50%;
            background-color: #80808040;
            box-shadow: 0 0 40px 30px #80808040;
            position: absolute;
            animation-name: counterslide;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
    }
}

@keyframes counterslide {
    from {
        transform: translateX(-150px);
    }

    to {
        transform: translateX(1000px);
    }
}