@use '../../Styles';

.headerBar {
    width: 100%;
    height: 4.375rem;
    background-color: Styles.$foregroundWhite;

    a {
        text-decoration: none;
        color: Styles.$black;
    }

    .headerOptions{
        font-family: Styles.$poppins;
        font-weight: 400;
    }

    .headerContentBox {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: flex;
            align-items: center;

            // img {
            //     width: 3rem;
            //     height: 3rem;
            //     margin-right: 1.1rem;
            // }

            p {
                color: Styles.$black;
                font-size: 1.35rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.3125rem;
                font-family: Styles.$outfit;
            }
        }

        .profileArea {

            height: 100%;
            display: flex;

            .notification {
                display: grid;
                height: 100%;
                place-items: center;
                border-left: 1px solid #E1E1E1;
                border-right: 1px solid #E1E1E1;
                width: 4.37rem;
            }

            .profile {

                display: flex;
                align-items: center;
                cursor: pointer;

                div {
                    width: 2.25rem;
                    height: 2.25rem;
                    border-radius: 50%;
                    margin: 0 0.7rem 0 1rem;

                    .profilePic {
                        height: 2.25rem;
                        border-radius: 50%;
                    }
                }

                p {
                    font-weight: 300;
                    font-family: Styles.$inter;
                }

                .dropDownIcon {
                    transition: 0.2s ease-in-out;
                    margin-left: 0.5rem;
                }
            }
        }

    }

    .dropDrop {
        position: absolute;
        width: 11.3125rem;
        background-color: Styles.$foregroundWhite;
        right: 6rem;
        z-index: 10;
        border-radius: 0.25rem;
        transition: 0.1s ease-in-out;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0px 3px 8.3px rgba(70, 70, 70, 0.15);

        div {
            height: 50%;
            display: flex;
            align-items: center;
            font-size: 1rem;
            font-weight: 700;
            color: Styles.$black;
            padding-left: 1rem;
            border-bottom: 1px solid #EEE;

            img{
                width: 1.3rem;
            }

            p {
                font-size: 0.9rem;
                font-weight: 400;
                opacity: 0.54;
                margin-left: 0.5rem;
                font-family: Styles.$poppins;
            }
        }
    }
}